*{
    text-align: center;
    padding: 0;
    margin: 0;
}

#nav{
    display: flex;
    justify-content: space-around;
    height: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#nav a{
   font-size: 25px;
   text-decoration: none;
   color: black;
}
#nav a:hover{
    color: red;
 }

 h1{
    margin-top: 20px;
}

input{
    height: 40px;
    width: 300px;
    margin: 10px;
    border-radius: 7px;
    border: 1px soild grey;
}
input[type="submit"]{
    background-color: rgb(5, 194, 252);
    border: none;
    color: white;
}